reflex
pyotp
qrcode
keyring
cryptography
websockets
requests
python-dotenv
apscheduler
pandas
numpy
desktop-notifier



reflex>=0.6.0
keyring>=24.0.0
pyotp>=2.9.0
python-dotenv>=1.0.0
qrcode[pil]>=7.4.2
requests>=2.31.0